@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF2D8;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Equal columns */
    justify-items: center; /* Center align the items */
    color: white;
    z-index: 1000;
}
.header-button {
    background-color: #FFF2D8;
    color: black;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 12px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
.header-button:hover {
    color: #AC3030;
    font-size: 28px;
}
#header-profile img {
    width: 45px; 
    height: auto;
    max-width: 100%;
    display: block;
}

