
.box {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    margin-top: 7em;
    margin-left: auto;
    margin-right: auto;
    width: 462px;
    height: 685px;
    border: 9px solid #AC3030;
    background-color:#fff2d8;
    border-radius: 32px;
  }
.login {
    margin-top: 1em;
    text-align: center;
    font-family: Jost; 
    font-size: 36px;  
    font-weight: bold;
    color:#AC3030
}
.Myaccount-bg{
    margin: 0 auto;
    width: 195px; 
    height: 195px;
    border-radius: 50%;
    color:#AC3030
}

.Myaccount-pics { 
    margin-top: 15px;
    width: 195px; 
    height: 195px; 
    object-fit: cover;
    border-radius: 50%;
    z-index: 1; 
}
.createanAccount-button {
    margin-top: 8px;
    /* margin-left: 142.65px; */
    width: 176.7px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color:#AC3030;
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
}
.createanAccount-button:hover {
    color:black;
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
}
input[type=text], input[type=password] {
    padding-left:28px;
    /* position: relative; */
    /* margin: 0 auto; */
    outline: none;
    border: none;
    width: 312px;
    height: 61px;
    background-color: #FFFAF0;
    border-radius: 20px;
    font-family: Jost;
    font-weight: 600;
    font-size: 28px;
    color:#929292;
  }
::placeholder {
  color: #929292;
}
#usernameBox {
    margin-top: 30px;
}
#passwordBox {
    margin-top: 25px;
}
.forgotPassword-button {
    left: 50px;
    bottom: 78px;
    width: 116px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color:#AC3030;
    position: relative;
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
}
.forgotPassword-button:hover {
    color:black;
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
}
.logIn-button {
    margin-top: 40px;
    font-family: jost;
    font-weight: 600;
    font-size: 28px;
    color: #fff2d8;
    background-color:#AC3030;
    border: none;
    border-radius: 15px;
    width: 110px;
    height: 46px;
}
.text {
    top: 20px;
    position: relative;
    text-align: center;
    font-family: jost;
    font-weight: 600;
    font-size: 24px;
    color: #929292;
}

