.Date-style{
    width: 76px; 
    height: 35px; 
    left: 87px; 
    top: 137px;
    position: absolute; 
    color: black; 
    font-size: 24px; 
    font-family: Istok Web; 
    font-weight: 400; 
    word-wrap: break-word
}