object{
    width: 100vw;
    height: 100px;
    top: 0px;
    left: 0px;
    border:none;
}
.Myaccount-style {
    position: absolute; 
    top: 179px;
    left: 593px;
    font-family: 'Encode Sans SC', sans-serif; 
    font-size: 64px;  
    font-weight: bold;  
}