/*.Header-style{
    position: absolute;
    width: 100vw; 
    height: 100px;
    top:0px;
    background-color: #FFF2D8;
    border: none;
    background-size: cover;
}
.HomeButton-style{
    color: black; 
    top: 30px;
    left: 181px;
    position: absolute;
    font-size: 28px; 
    font-family: Jost; 
    font-weight: 600; 
    word-wrap: break-word;
    border:none;
    background: none;
}
.CalendarButton-style{
    color: black; 
    top: 30px;
    left: 518px;
    position: absolute;
    font-size: 28px; 
    font-family: Jost; 
    font-weight: 600; 
    word-wrap: break-word;
    border:none;
    background: none;
}
.ClockButton-style{
    color: black; 
    top: 30px;
    left: 744px;
    position: absolute;
    font-size: 28px; 
    font-family: Jost; 
    font-weight: 600; 
    word-wrap: break-word;
    border:none;
    background: none;
}
.HoroscopeButton-style{
    color: black; 
    top: 30px;
    left: 915px;
    position: absolute;
    font-size: 28px; 
    font-family: Jost; 
    font-weight: 600; 
    word-wrap: break-word;
    border:none;
    background: none;
}
.HomeButton-style:hover,
.CalendarButton-style:hover,
.ClockButton-style:hover,
.HoroscopeButton-style:hover{
    width: fit-content;
    height: 40px;
    color: #AC3030;
}*/
.Header-style{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #FFF2D8;
    border: none;
    background-size: cover;
    z-index: 1000;
}

.HomeButton-style, .CalendarButton-style, .ClockButton-style, .HoroscopeButton-style {
    color: black; 
    top: 30px;
    position: absolute;
    font-size: 28px; 
    font-family: Jost; 
    font-weight: 600; 
    word-wrap: break-word;
    border: none;
    background: none;
    z-index: 1001;
}

.HomeButton-style {
    left: 12.57%;
}

.CalendarButton-style {
    left: 35.97%;
}

.ClockButton-style {
    left: 51.67%;
}

.HoroscopeButton-style {
    left: 63.46%;
}

.HomeButton-style:hover,
.CalendarButton-style:hover,
.ClockButton-style:hover,
.HoroscopeButton-style:hover {
    width: fit-content;
    height: 40px;
    color: #AC3030;
}

