.Header-style{
    width: 100vw; /*1440*/
    height: 100px;
    top:0px;
    background-color: #FFF2D8;
    border: none;
    background-size: cover;
   /* margin: 0 auto;*/
}
.HomeButton-style{
    color: black; 
    top: 35px;
    left: 181px;
    position: absolute;
    font-size: 28px; 
    font-family: Jost; 
    font-weight: 600; 
    word-wrap: break-word;
    border:none;
    background: none;
}
.CalendarButton-style{
    color: #AC3030; 
    top: 35px;
    left: 518px;
    position: absolute;
    font-size: 28px; 
    font-family: Jost; 
    font-weight: 600; 
    word-wrap: break-word;
    border:none;
    background: none;
}
.ClockButton-style{
    color: #AC3030; 
    top: 35px;
    left: 744px;
    position: absolute;
    font-size: 28px; 
    font-family: Jost; 
    font-weight: 600; 
    word-wrap: break-word;
    border:none;
    background: none;
}
.HoroscopeButton-style{
    color: #AC3030; 
    top: 35px;
    left: 915px;
    position: absolute;
    font-size: 28px; 
    font-family: Jost; 
    font-weight: 600; 
    word-wrap: break-word;
    border:none;
    background: none;
}
.HomeButton-style:hover,
.CalendarButton-style:hover,
.ClockButton-style:hover,
.HoroscopeButton-style:hover{
    width: fit-content;
    height: 40px;
    color: black;
}