.welcome-style{
    position: absolute;
    left: 43vw;
    top: 173px;
    font-family: Jost;
    font-size: 40px;
    font-weight: bold;
}
.shleep-style{
    font-family: Jost;
    font-size: 72px;
    font-weight: bold;
    position: absolute;
    left: 41.75vw;
    top: 235px;
}
.calendarbox-style{
    width: 362px;
    height: 354px;
    border-radius: 30px;
    left: 87px;
    top: 408px;
    background-color: #FFF2D8;
    position: absolute;
    left: 87px;
    top: 408px;
}
.calendar-pic{
    height: 171px;
    width: auto;
    position: absolute;
    left: 184px;
    top: 538px;
}