.main{
    margin-top: 100px ;
    padding: 50px;
}
.welcome-style{
    display: flex;
    justify-content: center;
    font-family: Jost;
    font-size: 40px;
    font-weight: bold;
}
.shleep-style{
    display: flex;
    justify-content: center;
    font-family: Jost;
    font-size: 72px;
    font-weight: bold;
}
/*.box-style{
    width: 362px;
    height: 354px;
    border-radius: 30px;
    background-color: #FFF2D8;
    margin-top: 50px;
}*/
.pic{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: auto;

}
.button{
    background-color: #AC3030;
    color: #FFF2D8;
    border: none;
    cursor: pointer;
    font-size: 32px;
    border-radius: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
.box-style{
    
}