object{
    width: 100vw;
    height: 100px;
    top: 0px;
    left: 0px;
    border:none;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
    margin: 150px auto;
    text-align: center;
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically if needed */
}
.roulettebg{
    padding: 5px;
}
.roulettepic{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
.spinbutton-style{
    justify-items: center;
    width: 176.7px;
    height: 64px;
    border-radius: 13px;
    border: none;
    background-color: #AC3030;
    cursor: pointer;
    color:#FFF2D8;
    font-family: Jost;
    font-weight: 600;
    font-size: 39px;
}
.spinbutton-style:hover {
    background-color: #942727;
}
